.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
    background: rgb(var(--surfaceColor, 254 247 255));
    color: rgb(var(--onSurfaceColor, 28 27 31));
    fill: rgb(var(--onSurfaceColor, 28 27 31));
}

.start {
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
.center {
    justify-content: center;
    align-content: center;
    align-items: center;
}
.end {
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
}
