.main {
    width: 100%;
    align-self: flex-end;
    flex-grow: 1;
    transition: width 0.3s;
}

.navOpen {
    max-width: calc(100% - 22rem);
}

@media screen and (max-width: 1000px) {
    .navOpen {
        max-width: initial;
    }
}
