.hr {
    width: calc(100% - 1rem);
    height: 0;
    padding: 0;
    margin: 0.5rem auto;
    background: none;
    border: none;
    border-top: 0.1rem solid rgb(var(--primaryContainerColor, 211 227 253));
}
.dotted {
    border-top: 0.4rem dotted rgb(var(--primaryContainerColor, 211 227 253));
}
.dashed {
    border-top: 0.2rem dashed rgb(var(--primaryContainerColor, 211 227 253));
}
.shortLine {
    width: 30rem;
    max-width: 80%;
}
