.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 6rem;
    padding: 0 2rem;
    border-bottom: 0.1rem solid #7d7d7d40;
    gap: 1rem;
    background: rgb(var(--surfaceContainerColor, 243 237 247));
    color: rgb(var(--onSurfaceColor, 28 27 31));
    fill: rgb(var(--onSurfaceColor, 28 27 31));
    transition: transform 0.3s ease;
    will-change: transform;
    z-index: 2;
    user-select: none;
}

.header.sticky {
    position: sticky;
    top: 0;
}

.header.blur {
    background-color: color-mix(
        in srgb,
        rgb(var(--surfaceContainerColor, 243 237 247)) 85%,
        transparent
    );
    backdrop-filter: blur(0.5rem);
}

.header.hidden {
    transform: translateY(-100%);
}
