.footer {
    min-height: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1rem;
    z-index: 1;
    background: rgb(var(--surfaceContainerColor, 243 237 247));
    color: rgb(var(--onSurfaceColor, 28 27 31));
    fill: rgb(var(--onSurfaceColor, 28 27 31));
    transition: transform 0.3s ease;
    will-change: transform;
    user-select: none;
}

.xs {
    padding-left: max(2rem, calc(50% - 44.4rem / 2 + 2rem));
    padding-right: max(2rem, calc(50% - 44.4rem / 2 + 2rem));
}
.sm {
    padding-left: max(2rem, calc(50% - 60rem / 2 + 2rem));
    padding-right: max(2rem, calc(50% - 60rem / 2 + 2rem));
}
.md {
    padding-left: max(2rem, calc(50% - 90rem / 2 + 2rem));
    padding-right: max(2rem, calc(50% - 90rem / 2 + 2rem));
}
.lg {
    padding-left: max(2rem, calc(50% - 120rem / 2 + 2rem));
    padding-right: max(2rem, calc(50% - 120rem / 2 + 2rem));
}
.xl {
    padding-left: max(2rem, calc(50% - 150rem / 2 + 2rem));
    padding-right: max(2rem, calc(50% - 150rem / 2 + 2rem));
}

.sticky {
    position: sticky;
    bottom: 0;
}
.hidden {
    transform: translateY(100%);
}

.blur {
    background-color: color-mix(
        in srgb,
        rgb(var(--surfaceContainerColor, 243 237 247)) 90%,
        transparent
    );
    backdrop-filter: blur(0.5rem);
}
