.table {
    border-collapse: unset;
    border-spacing: unset;
    border-radius: 0.7rem;
    overflow: hidden;
}

.table .tbody .tr:nth-child(even) {
    background-color: #7d7d7d20;
}
.table .tbody .tr:hover {
    background-color: #7d7d7d30;
}

.table .thead .tr .th,
.table .tfoot .tr .td {
    padding: 1rem;
    background-color: rgb(var(--surfaceContainerColor, 243 237 247));
    border-inline-start: 0.1rem solid #7d7d7d15;
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: start;
}
.table .thead .tr .th {
    border-bottom: 0.2rem solid #7d7d7d40;
}
.table .tfoot .tr .td {
    border-top: 0.2rem solid #7d7d7d40;
}

.table .tbody .tr .td {
    padding: 0.5rem 1rem;
    border-inline-start: 0.1rem solid #7d7d7d15;
    font-size: 1.4rem;
    line-height: 3rem;
}
.table .thead .tr .th:nth-child(1),
.table .tbody .tr .td:nth-child(1),
.table .tfoot .tr .td:nth-child(1) {
    border-inline-start: initial;
}
