.footer {
    background: rgb(var(--surfaceContainerColor, 243 237 247));
    color: rgb(var(--onSurfaceColor, 28 27 31));
    fill: rgb(var(--onSurfaceColor, 28 27 31));
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
}
