.container {
    width: 100%;
    padding: 2rem;
    gap: 2rem;
    margin-right: auto;
    margin-left: auto;
}

.container.xs {
    max-width: 44.4rem;
}
.container.sm {
    max-width: 60rem;
}
.container.md {
    max-width: 90rem;
}
.container.lg {
    max-width: 120rem;
}
.container.xl {
    max-width: 150rem;
}
