@media only screen and (max-width: 440px) {
    .xsMinWidth {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .smMinWidth {
        display: none;
    }
}
@media only screen and (max-width: 900px) {
    .mdMinWidth {
        display: none;
    }
}
@media only screen and (max-width: 1200px) {
    .lgMinWidth {
        display: none;
    }
}
@media only screen and (max-width: 1500px) {
    .xlMinWidth {
        display: none;
    }
}

@media only screen and (min-width: 441px) {
    .xsMaxWidth {
        display: none;
    }
}
@media only screen and (min-width: 601px) {
    .smMaxWidth {
        display: none;
    }
}
@media only screen and (min-width: 901px) {
    .mdMaxWidth {
        display: none;
    }
}
@media only screen and (min-width: 1201px) {
    .lgMaxWidth {
        display: none;
    }
}
@media only screen and (min-width: 1501px) {
    .xlMaxWidth {
        display: none;
    }
}
