.screen {
    width: 100%;
    min-height: 100vh;
    background: rgb(var(--surfaceColor, 254 247 255));
    color: rgb(var(--onSurfaceColor, 28 27 31));
    fill: rgb(var(--onSurfaceColor, 28 27 31));
}
