.extraSmall {
    --size: 1.2rem;
}
.small {
    --size: 2rem;
}
.medium {
    --size: 2.4rem;
}
.large {
    --size: 3rem;
}
.extraLarge {
    --size: 5rem;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    margin: auto;
    box-sizing: border-box;
    --color: #7d7d7d;
}
.spinner div {
    display: flex;
    width: 75%;
    height: 75%;
    --spinner-border: calc(var(--size) / 8);
    border-top: var(--spinner-border) solid var(--color);
    border-right: var(--spinner-border) solid transparent;
    border-bottom: none;
    border-left: none;
    border-radius: 50%;
    animation: spinner 1000ms linear infinite;
}
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.dots div {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background-color: var(--color);
    --dots-space: calc(var(--size) / 3);
    --dots-space-negative: calc(0rem - (var(--size) / 3));
    box-shadow: var(--dots-space) 0 var(--color),
        var(--dots-space-negative) 0 var(--color);
    position: relative;
    animation: flash 0.6s ease-out infinite alternate;
}
@keyframes flash {
    0% {
        background-color: var(--color);
        box-shadow: var(--dots-space) 0 var(--color),
            var(--dots-space-negative) 0 transparent;
    }
    50% {
        background-color: transparent;
        box-shadow: var(--dots-space) 0 var(--color),
            var(--dots-space-negative) 0 var(--color);
    }
    100% {
        background-color: var(--color);
        box-shadow: var(--dots-space) 0 transparent,
            var(--dots-space-negative) 0 var(--color);
    }
}

.scaleOut div {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: var(--color);
    animation: sk-scaleout 1s infinite ease-in-out;
}
@keyframes sk-scaleout {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    5% {
        transform: scale(0);
        opacity: 1;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
