.text {
    margin: 0;
}

.heading1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 6rem;
}
.heading2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 5rem;
}
.heading3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}
.heading4 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.5rem;
}
.heading5 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
}
.heading6 {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.2rem;
}
.body1 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.8rem;
}
.body2 {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3rem;
}
.body3 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.4rem;
}
.body4 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;
}
.body5 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
}
.body6 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
}
.caption {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
}
.span {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}
