.blue {
    --LightPrimaryColor: #0b57d0;
    --LightPrimaryContainerColor: #d3e3fd;
    --LightSecondaryColor: #625b71;
    --LightSecondaryContainerColor: #e8def8;
    --LightTertiaryColor: #c4eed0;
    --LightSurfaceColor: #222222;
    --LightErrorColor: #b3261e;
    --LightErrorContainerColor: #f9dedc;
    --LightOnPrimaryColor: #ffffff;
    --LightOnPrimaryContainerColor: #041e49;
    --LightOnSecondaryColor: #ffffff;
    --LightOnSecondaryContainerColor: #1e192b;
    --LightOnTertiaryColor: #072711;
    --LightOnErrorColor: #ffffff;
    --LightOnErrorContainerColor: #410e0b;
    /* neutral colors */
    --LightSurfaceColor: #fef7ff;
    --LightSurfaceVariantColor: #e7e0ec;
    --LightSurfaceDimColor: #ded8e1;
    --LightSurfaceBrightColor: #fef7ff;
    --LightSurfaceContainerLowestColor: #ffffff;
    --LightSurfaceContainerLowColor: #f7f2fa;
    --LightSurfaceContainerColor: #f3edf7;
    --LightSurfaceContainerHightColor: #ece6f0;
    --LightSurfaceContainerHighestColor: #e6e0e9;
    --LightOnSurfaceColor: #1c1b1f;
    --LightOnSurfaceRGBColor:26 28 30;
    --LightOnSurfaceVariantColor: #49454e;
    --LightOutlineColor: #79747e;
    --LightOutlineVariantColor: #c4c7c5;

    --DarkPrimaryColor: #a8c7fa;
    --DarkPrimaryContainerColor: #0842a0;
    --DarkSecondaryColor: #ccc2dc;
    --DarkSecondaryContainerColor: #e8def8;
    --DarkTertiaryColor: #072711;
    --DarkErrorColor: #f2b8b5;
    --DarkErrorContainerColor: #8c1d18;
    --DarkOnPrimaryColor: #062e6f;
    --DarkOnPrimaryContainerColor: #d3e3fd;
    --DarkOnSecondaryColor: #332d41;
    --DarkOnSecondaryContainerColor: #e8def8;
    --DarkOnTertiaryColor: #c4eed0;
    --DarkOnErrorColor: #601410;
    --DarkOnErrorContainerColor: #f9dedc;
    /* neutral colors */
    --DarkSurfaceColor: #141218;
    --DarkSurfaceVariantColor: #49454f;
    --DarkSurfaceDimColor: #141218;
    --DarkSurfaceBrightColor: #3b383e;
    --DarkSurfaceContainerLowestColor: #0f0d13;
    --DarkSurfaceContainerLowColor: #1d1b20;
    --DarkSurfaceContainerColor: #211f26;
    --DarkSurfaceContainerHightColor: #2b2930;
    --DarkSurfaceContainerHighestColor: #36343b;
    --DarkOnSurfaceColor: #e6e1e5;
    --DarkOnSurfaceRGBColor:227 226 230;
    --DarkOnSurfaceVariantColor: #cac4d0;
    --DarkOutlineColor: #938f99;
    --DarkOutlineVariantColor: #444746;
}
.green {
    --LightPrimaryColor: #386a20;
    --LightPrimaryContainerColor: #b8f397;
    --LightSecondaryColor: #625b71;
    --LightSecondaryContainerColor: #e8def8;
    --LightTertiaryColor: #bbebeb;
    --LightErrorColor: #b3261e;
    --LightErrorContainerColor: #f9dedc;
    --LightOnPrimaryColor: #ffffff;
    --LightOnPrimaryContainerColor: #042100;
    --LightOnSecondaryColor: #ffffff;
    --LightOnSecondaryContainerColor: #1e192b;
    --LightOnTertiaryColor: #002021;
    --LightOnErrorColor: #ffffff;
    --LightOnErrorContainerColor: #410e0b;
    /* neutral colors */
    --LightSurfaceColor: #fef7ff;
    --LightSurfaceVariantColor: #e7e0ec;
    --LightSurfaceDimColor: #ded8e1;
    --LightSurfaceBrightColor: #fef7ff;
    --LightSurfaceContainerLowestColor: #ffffff;
    --LightSurfaceContainerLowColor: #f7f2fa;
    --LightSurfaceContainerColor: #f3edf7;
    --LightSurfaceContainerHightColor: #ece6f0;
    --LightSurfaceContainerHighestColor: #e6e0e9;
    --LightOnSurfaceColor: #1c1b1f;
    --LightOnSurfaceRGBColor:26 28 30;
    --LightOnSurfaceVariantColor: #49454e;
    --LightOutlineColor: #79747e;
    --LightOutlineVariantColor: #c4c7c5;

    --DarkPrimaryColor: #9cd67d;
    --DarkPrimaryContainerColor: #205107;
    --DarkSecondaryColor: #ccc2dc;
    --DarkSecondaryContainerColor: #e8def8;
    --DarkTertiaryColor: #002021;
    --DarkErrorColor: #f2b8b5;
    --DarkErrorContainerColor: #8c1d18;
    --DarkOnPrimaryColor: #0c3900;
    --DarkOnPrimaryContainerColor: #b8f397;
    --DarkOnSecondaryColor: #332d41;
    --DarkOnSecondaryContainerColor: #e8def8;
    --DarkOnTertiaryColor: #bbebeb;
    --DarkOnErrorColor: #601410;
    --DarkOnErrorContainerColor: #f9dedc;
    /* neutral colors */
    --DarkSurfaceColor: #141218;
    --DarkSurfaceVariantColor: #49454f;
    --DarkSurfaceDimColor: #141218;
    --DarkSurfaceBrightColor: #3b383e;
    --DarkSurfaceContainerLowestColor: #0f0d13;
    --DarkSurfaceContainerLowColor: #1d1b20;
    --DarkSurfaceContainerColor: #211f26;
    --DarkSurfaceContainerHightColor: #2b2930;
    --DarkSurfaceContainerHighestColor: #36343b;
    --DarkOnSurfaceColor: #e6e1e5;
    --DarkOnSurfaceRGBColor:227 226 230;
    --DarkOnSurfaceVariantColor: #cac4d0;
    --DarkOutlineColor: #938f99;
    --DarkOutlineVariantColor: #444746;
}

.pink {
    --LightPrimaryColor: #9c4146;
    --LightPrimaryContainerColor: #ffdadb;
    --LightSecondaryColor: #625b71;
    --LightSecondaryContainerColor: #e8def8;
    --LightTertiaryColor: #fda;
    --LightErrorColor: #b3261e;
    --LightErrorContainerColor: #f9dedc;
    --LightOnPrimaryColor: #ffffff;
    --LightOnPrimaryContainerColor: #400008;
    --LightOnSecondaryColor: #ffffff;
    --LightOnSecondaryContainerColor: #1e192b;
    --LightOnTertiaryColor: #281800;
    --LightOnErrorColor: #ffffff;
    --LightOnErrorContainerColor: #410e0b;
    /* neutral colors */
    --LightSurfaceColor: #fef7ff;
    --LightSurfaceVariantColor: #e7e0ec;
    --LightSurfaceDimColor: #ded8e1;
    --LightSurfaceBrightColor: #fef7ff;
    --LightSurfaceContainerLowestColor: #ffffff;
    --LightSurfaceContainerLowColor: #f7f2fa;
    --LightSurfaceContainerColor: #f3edf7;
    --LightSurfaceContainerHightColor: #ece6f0;
    --LightSurfaceContainerHighestColor: #e6e0e9;
    --LightOnSurfaceColor: #1c1b1f;
    --LightOnSurfaceRGBColor:26 28 30;
    --LightOnSurfaceVariantColor: #49454e;
    --LightOutlineColor: #79747e;
    --LightOutlineVariantColor: #c4c7c5;

    --DarkPrimaryColor: #ffb3b5;
    --DarkPrimaryContainerColor: #7d2a30;
    --DarkSecondaryColor: #ccc2dc;
    --DarkSecondaryContainerColor: #e8def8;
    --DarkTertiaryColor: #281800;
    --DarkErrorColor: #f2b8b5;
    --DarkErrorContainerColor: #8c1d18;
    --DarkOnPrimaryColor: #5f121b;
    --DarkOnPrimaryContainerColor: #ffdadb;
    --DarkOnSecondaryColor: #332d41;
    --DarkOnSecondaryContainerColor: #e8def8;
    --DarkOnTertiaryColor: #fda;
    --DarkOnErrorColor: #601410;
    --DarkOnErrorContainerColor: #f9dedc;
    /* neutral colors */
    --DarkSurfaceColor: #141218;
    --DarkSurfaceVariantColor: #49454f;
    --DarkSurfaceDimColor: #141218;
    --DarkSurfaceBrightColor: #3b383e;
    --DarkSurfaceContainerLowestColor: #0f0d13;
    --DarkSurfaceContainerLowColor: #1d1b20;
    --DarkSurfaceContainerColor: #211f26;
    --DarkSurfaceContainerHightColor: #2b2930;
    --DarkSurfaceContainerHighestColor: #36343b;
    --DarkOnSurfaceColor: #e6e1e5;
    --DarkOnSurfaceRGBColor:227 226 230;
    --DarkOnSurfaceVariantColor: #cac4d0;
    --DarkOutlineColor: #938f99;
    --DarkOutlineVariantColor: #444746;
}

.grow {
    --LightPrimaryColor: #616200;
    --LightPrimaryContainerColor: #e8e971;
    --LightSecondaryColor: #625b71;
    --LightSecondaryContainerColor: #e8def8;
    --LightTertiaryColor: #bfedd9;
    --LightErrorColor: #b3261e;
    --LightErrorContainerColor: #f9dedc;
    --LightOnPrimaryColor: #ffffff;
    --LightOnPrimaryContainerColor: #1d1d00;
    --LightOnSecondaryColor: #ffffff;
    --LightOnSecondaryContainerColor: #1e192b;
    --LightOnTertiaryColor: #002117;
    --LightOnErrorColor: #ffffff;
    --LightOnErrorContainerColor: #410e0b;
    /* neutral colors */
    --LightSurfaceColor: #fef7ff;
    --LightSurfaceVariantColor: #e7e0ec;
    --LightSurfaceDimColor: #ded8e1;
    --LightSurfaceBrightColor: #fef7ff;
    --LightSurfaceContainerLowestColor: #ffffff;
    --LightSurfaceContainerLowColor: #f7f2fa;
    --LightSurfaceContainerColor: #f3edf7;
    --LightSurfaceContainerHightColor: #ece6f0;
    --LightSurfaceContainerHighestColor: #e6e0e9;
    --LightOnSurfaceColor: #1c1b1f;
    --LightOnSurfaceRGBColor:26 28 30;
    --LightOnSurfaceVariantColor: #49454e;
    --LightOutlineColor: #79747e;
    --LightOutlineVariantColor: #c4c7c5;

    --DarkPrimaryColor: #cbcc58;
    --DarkPrimaryContainerColor: #494a00;
    --DarkSecondaryColor: #ccc2dc;
    --DarkSecondaryContainerColor: #e8def8;
    --DarkTertiaryColor: #002117;
    --DarkErrorColor: #f2b8b5;
    --DarkErrorContainerColor: #8c1d18;
    --DarkOnPrimaryColor: #323200;
    --DarkOnPrimaryContainerColor: #e8e971;
    --DarkOnSecondaryColor: #332d41;
    --DarkOnSecondaryContainerColor: #e8def8;
    --DarkOnTertiaryColor: #bfedd9;
    --DarkOnErrorColor: #601410;
    --DarkOnErrorContainerColor: #f9dedc;
    /* neutral colors */
    --DarkSurfaceColor: #141218;
    --DarkSurfaceVariantColor: #49454f;
    --DarkSurfaceDimColor: #141218;
    --DarkSurfaceBrightColor: #3b383e;
    --DarkSurfaceContainerLowestColor: #0f0d13;
    --DarkSurfaceContainerLowColor: #1d1b20;
    --DarkSurfaceContainerColor: #211f26;
    --DarkSurfaceContainerHightColor: #2b2930;
    --DarkSurfaceContainerHighestColor: #36343b;
    --DarkOnSurfaceColor: #e6e1e5;
    --DarkOnSurfaceRGBColor:227 226 230;
    --DarkOnSurfaceVariantColor: #cac4d0;
    --DarkOutlineColor: #938f99;
    --DarkOutlineVariantColor: #444746;
}
.purple {
    --LightPrimaryColor: #6750a4;
    --LightPrimaryContainerColor: #eaddff;
    --LightSecondaryColor: #625b71;
    --LightSecondaryContainerColor: #e8def8;
    --LightTertiaryColor: #7d5260;
    --LightTertiaryContainerColor: #ffd8e4;
    --LightSurfaceColor: #222222;
    --LightErrorColor: #b3261e;
    --LightErrorContainerColor: #f9dedc;
    --LightOnPrimaryColor: #ffffff;
    --LightOnPrimaryContainerColor: #21005e;
    --LightOnSecondaryColor: #ffffff;
    --LightOnSecondaryContainerColor: #1e192b;
    --LightOnTertiaryColor: #ffffff;
    --LightOnTertiaryContainerColor: #370b1e;
    --LightOnErrorColor: #ffffff;
    --LightOnErrorContainerColor: #410e0b;
    /* neutral colors */
    --LightSurfaceColor: #fef7ff;
    --LightSurfaceVariantColor: #e7e0ec;
    --LightSurfaceDimColor: #ded8e1;
    --LightSurfaceBrightColor: #fef7ff;
    --LightSurfaceContainerLowestColor: #ffffff;
    --LightSurfaceContainerLowColor: #f7f2fa;
    --LightSurfaceContainerColor: #f3edf7;
    --LightSurfaceContainerHightColor: #ece6f0;
    --LightSurfaceContainerHighestColor: #e6e0e9;
    --LightOnSurfaceColor: #1c1b1f;
    --LightOnSurfaceRGBColor:26 28 30;
    --LightOnSurfaceVariantColor: #49454e;
    --LightOutlineColor: #79747e;
    --LightOutlineVariantColor: #c4c7c5;

    --DarkPrimaryColor: #d0bcff;
    --DarkPrimaryContainerColor: #4f378b;
    --DarkSecondaryColor: #ccc2dc;
    --DarkSecondaryContainerColor: #e8def8;
    --DarkTertiaryColor: #efb8c8;
    --DarkTertiaryContainerColor: #633b48;
    --DarkErrorColor: #f2b8b5;
    --DarkErrorContainerColor: #8c1d18;
    --DarkOnPrimaryColor: #371e73;
    --DarkOnPrimaryContainerColor: #eaddff;
    --DarkOnSecondaryColor: #332d41;
    --DarkOnSecondaryContainerColor: #e8def8;
    --DarkOnTertiaryColor: #492532;
    --DarkOnTertiaryContainerColor: #ffd8e4;
    --DarkOnErrorColor: #601410;
    --DarkOnErrorContainerColor: #f9dedc;
    /* neutral colors */
    --DarkSurfaceColor: #141218;
    --DarkSurfaceVariantColor: #49454f;
    --DarkSurfaceDimColor: #141218;
    --DarkSurfaceBrightColor: #3b383e;
    --DarkSurfaceContainerLowestColor: #0f0d13;
    --DarkSurfaceContainerLowColor: #1d1b20;
    --DarkSurfaceContainerColor: #211f26;
    --DarkSurfaceContainerHightColor: #2b2930;
    --DarkSurfaceContainerHighestColor: #36343b;
    --DarkOnSurfaceColor: #e6e1e5;
    --DarkOnSurfaceRGBColor:227 226 230;
    --DarkOnSurfaceVariantColor: #cac4d0;
    --DarkOutlineColor: #938f99;
    --DarkOutlineVariantColor: #444746;
}

.system,
.light {
    --primaryColor: var(--LightPrimaryColor);
    --primaryContainerColor: var(--LightPrimaryContainerColor);
    --secondaryColor: var(--LightSecondaryColor);
    --secondaryContainerColor: var(--LightSecondaryContainerColor);
    --tertiaryColor: var(--LightTertiaryColor);
    --errorColor: var(--LightErrorColor);
    --errorContainerColor: var(--LightErrorContainerColor);
    --onPrimaryColor: var(--LightOnPrimaryColor);
    --onPrimaryContainerColor: var(--LightOnPrimaryContainerColor);
    --onSecondaryColor: var(--LightOnSecondaryColor);
    --onSecondaryContainerColor: var(--LightOnSecondaryContainerColor);
    --onTertiaryColor: var(--LightOnTertiaryColor);
    --onErrorColor: var(--LightOnErrorColor);
    --onErrorContainerColor: var(--LightOnErrorContainerColor);
    --surfaceColor: var(--LightSurfaceColor);
    --surfaceVariantColor: var(--LightSurfaceVariantColor);
    --surfaceDimColor: var(--LightSurfaceDimColor);
    --surfaceBrightColor: var(--LightSurfaceBrightColor);
    --surfaceContainerLowestColor: var(--LightSurfaceContainerLowestColor);
    --surfaceContainerLowColor: var(--LightSurfaceContainerLowColor);
    --surfaceContainerColor: var(--LightSurfaceContainerColor);
    --surfaceContainerHightColor: var(--LightSurfaceContainerHightColor);
    --surfaceContainerHighestColor: var(--LightSurfaceContainerHighestColor);
    --onSurfaceColor: var(--LightOnSurfaceColor);
    --onSurfaceRGBColor:var(--LightOnSurfaceRGBColor);
    --onSurfaceVariantColor: var(--LightOnSurfaceVariantColor);
    --outlineColor: var(--LightOutlineColor);
    --outlineVariantColor: var(--LightOutlineVariantColor);
}
.dark {
    --primaryColor: var(--DarkPrimaryColor);
    --primaryContainerColor: var(--DarkPrimaryContainerColor);
    --secondaryColor: var(--DarkSecondaryColor);
    --secondaryContainerColor: var(--DarkSecondaryContainerColor);
    --tertiaryColor: var(--DarkTertiaryColor);
    --errorColor: var(--DarkErrorColor);
    --errorContainerColor: var(--DarkErrorContainerColor);
    --onPrimaryColor: var(--DarkOnPrimaryColor);
    --onPrimaryContainerColor: var(--DarkOnPrimaryContainerColor);
    --onSecondaryColor: var(--DarkOnSecondaryColor);
    --onSecondaryContainerColor: var(--DarkOnSecondaryContainerColor);
    --onTertiaryColor: var(--DarkOnTertiaryColor);
    --onErrorColor: var(--DarkOnErrorColor);
    --onErrorContainerColor: var(--DarkOnErrorContainerColor);
    --surfaceColor: var(--DarkSurfaceColor);
    --surfaceVariantColor: var(--DarkSurfaceVariantColor);
    --surfaceDimColor: var(--DarkSurfaceDimColor);
    --surfaceBrightColor: var(--DarkSurfaceBrightColor);
    --surfaceContainerLowestColor: var(--DarkSurfaceContainerLowestColor);
    --surfaceContainerLowColor: var(--DarkSurfaceContainerLowColor);
    --surfaceContainerColor: var(--DarkSurfaceContainerColor);
    --surfaceContainerHightColor: var(--DarkSurfaceContainerHightColor);
    --surfaceContainerHighestColor: var(--DarkSurfaceContainerHighestColor);
    --onSurfaceColor: var(--DarkOnSurfaceColor);
    --onSurfaceRGBColor:var(--DarkOnSurfaceRGBColor);
    --onSurfaceVariantColor: var(--DarkOnSurfaceVariantColor);
    --outlineColor: var(--DarkOutlineColor);
    --outlineVariantColor: var(--DarkOutlineVariantColor);
}
@media (prefers-color-scheme: dark) {
    .system {
        --primaryColor: var(--DarkPrimaryColor);
        --primaryContainerColor: var(--DarkPrimaryContainerColor);
        --secondaryColor: var(--DarkSecondaryColor);
        --secondaryContainerColor: var(--DarkSecondaryContainerColor);
        --tertiaryColor: var(--DarkTertiaryColor);
        --errorColor: var(--DarkErrorColor);
        --errorContainerColor: var(--DarkErrorContainerColor);
        --onPrimaryColor: var(--DarkOnPrimaryColor);
        --onPrimaryContainerColor: var(--DarkOnPrimaryContainerColor);
        --onSecondaryColor: var(--DarkOnSecondaryColor);
        --onSecondaryContainerColor: var(--DarkOnSecondaryContainerColor);
        --onTertiaryColor: var(--DarkOnTertiaryColor);
        --onErrorColor: var(--DarkOnErrorColor);
        --onErrorContainerColor: var(--DarkOnErrorContainerColor);
        --surfaceColor: var(--DarkSurfaceColor);
        --surfaceVariantColor: var(--DarkSurfaceVariantColor);
        --surfaceDimColor: var(--DarkSurfaceDimColor);
        --surfaceBrightColor: var(--DarkSurfaceBrightColor);
        --surfaceContainerLowestColor: var(--DarkSurfaceContainerLowestColor);
        --surfaceContainerLowColor: var(--DarkSurfaceContainerLowColor);
        --surfaceContainerColor: var(--DarkSurfaceContainerColor);
        --surfaceContainerHightColor: var(--DarkSurfaceContainerHightColor);
        --surfaceContainerHighestColor: var(--DarkSurfaceContainerHighestColor);
        --onSurfaceColor: var(--DarkOnSurfaceColor);
        --onSurfaceRGBColor:var(--DarkOnSurfaceRGBColor);
        --onSurfaceVariantColor: var(--DarkOnSurfaceVariantColor);
        --outlineColor: var(--DarkOutlineColor);
        --outlineVariantColor: var(--DarkOutlineVariantColor);
    }
}
