.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
    background: var(--surfaceColor, #fef7ff);
    color: var(--onSurfaceColor, #1c1b1f);
    fill: var(--onSurfaceColor, #1c1b1f);
}
