.label {
    padding-top: 0.6rem;
    font-size: 1.3rem;
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.input {
    box-sizing: border-box;
    margin: 0rem;
    border-image: initial;
    width: 100%;
    height: inherit;
    color: rgb(227 226 230 / 0.87);
    box-shadow: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    caret-color: rgb(var(--primaryColor, 11 87 208));
}
.input.outlined {
    border-top-color: transparent;
    background-color: transparent;
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 0.4rem;
    padding: 1.5rem 1.3rem;
    transition: border 0.2s ease 0s, box-shadow 0.2s ease 0s;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0rem;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
}
.input.filled {
    display: block;
    border-right: none;
    border-left: none;
    border-top: 2.7rem solid transparent;
    border-bottom: solid 0.1rem rgb(var(--onSurfaceColor, 28 27 31) / 0.6);
    border-radius: 0.4rem 0.4rem 0rem 0rem;
    padding: 0rem 1.2rem 1rem;
    background-color: rgb(227 226 230/ 0.04);
    transition: border-bottom 0.2s ease 0s, background-color 0.2s ease 0s;
}
.input:focus {
    outline: none;
}
.input.outlined:focus {
    border-top-color: transparent;
    box-shadow: inset 1px 0 rgb(var(--primaryColor, 11 87 208)),
        inset -1px 0 rgb(var(--primaryColor, 11 87 208)),
        inset 0 -1px rgb(var(--primaryColor, 11 87 208));
}
.input:focus + .span {
    color: rgb(var(--primaryColor, 11 87 208));
}
.input.outlined:focus + .span::after {
    box-shadow: inset 0 1px rgb(var(--primaryColor, 11 87 208));
    border-top-color: rgb(var(--primaryColor, 11 87 208)) !important;
}
.input.filled:focus + .span::after {
    transform: scale(1);
}
.input.outlined:focus + .span::before {
    box-shadow: inset 0 1px rgb(var(--primaryColor, 11 87 208));
    border-top-color: rgb(var(--primaryColor, 11 87 208)) !important;
}

.input.outlined:not(:focus):placeholder-shown {
    border-top-color: rgb(var(--onSurfaceColor, 28 27 31) / 0.6);
}
.input.outlined:not(:focus):placeholder-shown + .span {
    font-size: inherit;
    line-height: 6.2rem;
}
.input.filled:not(:focus):placeholder-shown + .span {
    font-size: inherit;
    line-height: 4.8rem;
}
.input + .span {
    position: absolute;
    color: rgb(var(--onSurfaceColor, 28 27 31) / 0.6);
    font-size: 75%;
    transition: color 0.2s ease 0s, font-size 0.2s ease 0s,
        line-height 0.2s ease 0s;
}
.input.outlined + .span {
    top: 0rem;
    left: 0rem;
    display: flex;
    border-color: rgb(var(--onSurfaceColor, 28 27 31) / 0.6);
    width: 100%;
    max-height: 100%;
    line-height: 1.5rem;
    cursor: text;
}
.input.filled + .span {
    inset: 0rem;
    display: block;
    box-sizing: border-box;
    padding: 0.7rem 1.2rem 0rem;
    line-height: 18px;
    pointer-events: none;
}
.input.outlined:not(:focus):placeholder-shown + .span::before {
    border-top-color: transparent;
}
.input.outlined + .span::before {
    margin-right: 0.4rem;
    border-left: 0.1 solid transparent;
    border-radius: 0.4rem 0rem;
    content: "";
    display: block;
    box-sizing: border-box;
    margin-top: 0.6rem;
    border-top-width: 0.1rem;
    border-top-style: solid;
    border-top-color: rgb(var(--onSurfaceColor, 28 27 31) / 0.6);
    min-width: 1rem;
    height: 0.8rem;
    pointer-events: none;
    box-shadow: transparent 0px 1px inset;
    transition: border-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
}

.input.outlined:not(:focus):placeholder-shown + .span::after {
    border-top-color: transparent;
}
.input + .span::after {
    content: "";
    display: block;
}
.input.outlined + .span::after {
    flex-grow: 1;
    margin-left: 0.4rem;
    border-right: 0.1rem solid transparent;
    border-radius: 0rem 0.4rem;
    box-sizing: border-box;
    margin-top: 0.6rem;
    border-top-width: 0.1rem;
    border-top-style: solid;
    border-top-color: rgb(var(--onSurfaceColor, 28 27 31) / 0.6);
    min-width: 1rem;
    height: 0.8rem;
    pointer-events: none;
    box-shadow: transparent 0px 1px inset;
    transition: border-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
}
.input.filled + .span::after {
    position: absolute;
    left: 0rem;
    bottom: 0rem;
    width: 100%;
    height: 0.2rem;
    background-color: rgb(var(--primaryColor, 11 87 208));
    transform-origin: center bottom;
    transform: scaleX(0);
    transition: transform 0.3s ease 0s;
}
