div.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
    box-sizing: border-box;
}

div.container.xs {
    max-width: 44.4rem;
}
div.container.sm {
    max-width: 60rem;
}
div.container.md {
    max-width: 90rem;
}
div.container.lg {
    max-width: 120rem;
}
div.container.xl {
    max-width: 150rem;
}

.start {
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
.center {
    justify-content: center;
    align-content: center;
    align-items: center;
}
.end {
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
}
