.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 6rem;
    padding: 0 2rem;
    border-bottom: 0.1rem solid #7d7d7d40;
    gap: 1rem;
    z-index: 1;
    background: rgb(var(--surfaceContainerColor, 243 237 247));
    color: rgb(var(--onSurfaceColor, 28 27 31));
    fill: rgb(var(--onSurfaceColor, 28 27 31));
    user-select: none;
}
.sticky {
    position: sticky;
    top: 0;
}
