@media only screen and (max-width: 440px) {
    .xsLargerThan {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .smLargerThan {
        display: none;
    }
}
@media only screen and (max-width: 900px) {
    .mdLargerThan {
        display: none;
    }
}
@media only screen and (max-width: 1200px) {
    .lgLargerThan {
        display: none;
    }
}
@media only screen and (max-width: 1500px) {
    .xlLargerThan {
        display: none;
    }
}

@media only screen and (min-width: 441px) {
    .xsSmallerOrEqual {
        display: none;
    }
}
@media only screen and (min-width: 601px) {
    .smSmallerOrEqual {
        display: none;
    }
}
@media only screen and (min-width: 901px) {
    .mdSmallerOrEqual {
        display: none;
    }
}
@media only screen and (min-width: 1201px) {
    .lgSmallerOrEqual {
        display: none;
    }
}
@media only screen and (min-width: 1501px) {
    .xlSmallerOrEqual {
        display: none;
    }
}
