.table {
    border-collapse: unset;
    border-spacing: unset;
    width: 100%;
    border-radius: 0.7rem;
    overflow: hidden;
}

.thead {
    border: 0.1rem solid red;
    font-size: 1.5rem;
}
.tbody {
    font-size: 1.4rem;
}
.tfoot {
    font-size: 1.5rem;
}

.tbody .tr:nth-child(even) {
    background-color: #7d7d7d20;
}
.tbody .tr:hover {
    background-color: #7d7d7d30;
}

.thead .th {
    border-bottom: 0.2rem solid #7d7d7d40;
    background-color: rgb(var(--surfaceContainerColor, 243 237 247));
    text-align: start;
}
.tfoot .th {
    border-top: 0.2rem solid #7d7d7d40;
    background-color: rgb(var(--surfaceContainerColor, 243 237 247));
}

.th,
.td {
    padding: 0.5rem 1rem;
    line-height: 3rem;
}
