.card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    overflow: hidden;
    margin: auto;
    box-sizing: border-box;
    border-radius: 2rem;
    background: rgb(var(--surfaceContainerHighestColor, 230 224 233));
    color: rgb(var(--onSurfaceColor, 28 27 31));
    fill: rgb(var(--onSurfaceColor, 28 27 31));
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
        0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.start {
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
.center {
    justify-content: center;
    align-content: center;
    align-items: center;
}
.end {
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
}

.card.blur {
    background-color: color-mix(
        in srgb,
        rgb(var(--surfaceContainerHighestColor, 230 224 233)) 85%,
        transparent
    );
    backdrop-filter: blur(0.5rem);
}
