.input {
    box-sizing: border-box;
    display: block;
    border: none;
    padding: 0;
    margin: auto;
    background: repeating-linear-gradient(
            90deg,
            #7d7d7d 0,
            #7d7d7d 1ch,
            transparent 0,
            transparent 1.5ch
        )
        0 100%/100% 0.2rem no-repeat;
    color: transparent;
    text-shadow: 0 0 0 rgb(var(--secondaryColor, 98 91 113));
    letter-spacing: 0.5ch;
    font-size: 4rem;
}
.input:focus {
    outline: none;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
