.div {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding-top: 0.6rem;
    font-size: 1.3rem;
    overflow: hidden;
}
.select {
    box-sizing: border-box;
    width: 100%;
    margin: 0rem;
    border-image: initial;
    background-color: rgb(var(--surfaceContainerHighestColor, 230 224 233));
    color: rgb(var(--onSurfaceColor, 28 27 31) / 0.87);
    caret-color: rgb(var(--primaryColor, 11 87 208));
}
.select * {
    color: initial;
}
.select:focus {
    outline: none;
}

.select ~ .label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    color: rgb(var(--onSurfaceColor, 28 27 31) / 0.6);
    transition: 0.3s;
    pointer-events: none;
}
@media (pointer: fine) {
    .select:hover ~ .label {
        color: rgb(var(--onSurfaceVariantColor, 73 69 78));
    }
}
.select:focus ~ .label {
    color: rgb(var(--primaryColor, 11 87 208));
}
.select:disabled ~ .label {
    color: rgb(var(--onSurfaceColor, 28 27 31) / 0.38);
}
.select:invalid ~ .label,
.select:invalid:focus ~ .label {
    color: rgb(var(--errorColor, 11 87 208));
}

/********************************************* OutLined */
.select.outlined {
    height: 5rem;
    padding: 1.5rem 1.3rem;
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(var(--onSurfaceColor, 28 27 31) / 0.6);
    border-radius: 0.4rem;
    background-color: transparent;
}
@media (pointer: fine) {
    .select.outlined:hover {
        border-color: rgb(var(--onSurfaceVariantColor, 73 69 78));
    }
}
.select.outlined:focus {
    border-width: 0.2rem;
    border-color: rgb(var(--primaryColor, 11 87 208));
}
.select.outlined:disabled {
    border-color: rgb(var(--onSurfaceColor, 28 27 31) / 0.38);
}
.select.outlined:invalid {
    border-color: rgb(var(--errorColor, 11 87 208));
}
.select.outlined:invalid:focus {
    border-color: rgb(var(--errorColor, 11 87 208));
}
.select.outlined::placeholder {
    color: transparent;
}
.select.outlined.havePlaceHolder:focus,
.select.outlined.havePlaceHolder:not(:placeholder-shown) {
    border-top-color: transparent;
}

.select.outlined ~ .label {
    display: flex;
    border-color: rgb(var(--onSurfaceColor, 28 27 31) / 0.6);
    width: 100%;
    max-height: 100%;
    line-height: 6rem;
}
.select.outlined:focus ~ .label,
.select.outlined:not(:placeholder-shown) ~ .label {
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.select.outlined ~ .label::before,
.select.outlined ~ .label::after {
    margin-top: 0.6rem;
    border-top-width: 0.1rem;
    border-top-style: solid;
    border-color: transparent;
    content: "";
}
.select.outlined:not(:placeholder-shown) ~ .label::before,
.select.outlined:not(:placeholder-shown) ~ .label::after {
    border-color: rgb(var(--onSurfaceColor, 28 27 31) / 0.6);
}
.select.outlined:invalid:not(:placeholder-shown) ~ .label::before,
.select.outlined:invalid:not(:placeholder-shown) ~ .label::after {
    border-color: rgb(var(--errorColor, 11 87 208));
}
.select.outlined ~ .label::before {
    width: 1rem;
    margin-right: 1.2rem;
    border-radius: 0.4rem 0rem;
}
.select.outlined ~ .label::after {
    width: 100%;
    margin-left: 1.2rem;
    border-radius: 0rem 0.4rem;
}
.select.outlined:focus ~ .label::before,
.select.outlined:focus ~ .label::after {
    border-width: 0.2rem;
    border-top-color: rgb(var(--primaryColor, 11 87 208));
}
.select.outlined:invalid:focus ~ .label::before,
.select.outlined:invalid:focus ~ .label::after {
    border-color: rgb(var(--errorColor, 11 87 208));
}

/********************************************* Filled */
.select.filled {
    height: 5rem;
    padding: 0 1.2rem;
    border: none;
    border-bottom: solid 0.1rem rgb(var(--onSurfaceColor, 28 27 31) / 0.6);
    border-radius: 0.4rem 0.4rem 0rem 0rem;
    background-color: rgb(var(--onSurfaceColor, 28 27 31) / 0.04);
}
@media (pointer: fine) {
    .select.select.filled:hover {
        border-color: rgb(var(--onSurfaceVariantColor, 73 69 78));
        background-color: rgb(var(--onSurfaceVariantColor, 73 69 78) / 0.04);
    }
}
.select.filled:disabled {
    border-bottom: solid 0.1rem rgb(var(--onSurfaceColor, 28 27 31) / 0.38);
}
.select.filled:invalid {
    border-bottom-color: rgb(var(--errorColor, 11 87 208));
}
.select.filled.havePlaceHolder {
    padding: 2rem 1.2rem 0.5rem;
}
.select.filled::placeholder {
    color: transparent;
}

.select.filled ~ .label {
    display: block;
    box-sizing: border-box;
    line-height: 6rem;
    padding: 0 1rem;
}
.select.filled:focus ~ .label,
.select.filled:not(:placeholder-shown) ~ .label {
    font-size: 1.1rem;
    line-height: 4rem;
}

.select.filled ~ .label::after {
    position: absolute;
    left: 0rem;
    content: "";
    bottom: 0rem;
    width: 100%;
    height: 0.2rem;
    display: inline-block;
    background-color: rgb(var(--primaryColor, 11 87 208));
    transform: scaleX(0);
    transition: transform 0.3s ease 0s;
}
.select.filled:focus ~ .label::after {
    transform: scale(1);
    content: "";
}
.select.filled:invalid ~ .label::after {
    background-color: rgb(var(--errorColor, 11 87 208));
}
